################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sharp.XMPP.Test/bin/Debug/netcoreapp3.1
/Sharp.XMPP.Test/obj
/Test/bin/Debug/netstandard2.1
/Test/obj
